<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Green Tea</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="previous()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="next()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="secondary">
  <img class="tea-image" src="assets/img/green.jpg" />
  <div class="description">
    Green teas have the oxidation process stopped very early on, leaving them
    with a very subtle flavor and complex undertones. These teas should be
    steeped at lower temperatures for shorter periods of time.
  </div>
</ion-content>
