<ion-header>
  <ion-toolbar color="primary">
    <ion-title> White Tea </ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only (click)="previous()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="next()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary" class="ion-padding">
  <img class="tea-image" src="assets/img/white.jpg" />
  <div class="description">
    White tea is produced using very young shoots with no oxidation process.
    White tea has an extremely delicate flavor that is sweet and fragrent. White
    tea should be steeped at lower temperatures for short periods of time.
  </div>
</ion-content>
