<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Black Tea</ion-title>
    <ion-buttons slot="start">
      <ion-button icon-only href="/oolong">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button icon-only href="/dark">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding color="secondary">
  <img class="tea-image" src="assets/img/black.jpg" />
  <div class="description">
    A fully oxidized tea, black teas have a dark color and a full robust and
    pronounced flavor. Blad teas tend to have a higher caffeine content than
    other teas.
  </div>
</ion-content>
